@charset "UTF-8";
/* &display=swap*/
/* Обнуляющий стиль */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol li,
ul li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[class*="__container"] {
  max-width: 1000px;
  margin: 0 auto;
}

/* -------------- */
.bowl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: #141414;
}

.bowl__content {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border: 8px solid transparent;
  z-index: 1;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
}

.bowl__content::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 50px;
  border: 15px solid #444;
  top: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  -webkit-box-shadow: 0 10px #222;
          box-shadow: 0 10px #222;
}

.bowl__content::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.05);
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.bowl__liquid {
  position: absolute;
  background-color: #41c1fb;
  top: 50%;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;
  -webkit-filter: drop-shadow(0 0 80px #41c1fb);
          filter: drop-shadow(0 0 80px #41c1fb);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: animateLiquid 5s linear infinite;
          animation: animateLiquid 5s linear infinite;
}

.bowl__liquid::before {
  content: "";
  position: absolute;
  top: -10px;
  width: 100%;
  height: 20px;
  background-color: #1fa4e0;
  border-radius: 50%;
  -webkit-filter: drop-shadow(0 0 80px #41c1fb);
          filter: drop-shadow(0 0 80px #41c1fb);
}

@-webkit-keyframes animate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes animate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes animateLiquid {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes animateLiquid {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.shadow {
  position: absolute;
  width: 300px;
  height: 30px;
  top: calc(50% + 150px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
